.body-style {
    /* fallback for old browsers */
    background: #160E1D;
}

.form-control::placeholder {
    color: #505050; /* Puedes cambiar 'red' por el color que desees */
    font-size: 15px;
  }

.homebuton{
    background: #230E2F;
}